<div class="row">
	<div class="col-12">
		
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<i class="fas fa-tachometer-alt mr-2"></i>Dashboard
			</div>

			<div class="card-body card-body-dna text-center">
				<div class="card-title text-center">
					<h3>International Classification of Diseases, 11th Revision</h3>
				</div>
				<button class="btn btn-secondary btn-lg mt-5">
					<i class="fas fa-search mr-2"></i> Explore IDC-11
				</button>
			</div>
		</div>
	</div>
</div>	